.container {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;

  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 1fr;

  grid-template-areas: 'nav'
                       'main'
                       'footer';
}