.footer {
  grid-area: footer;
  margin-top: 1rem;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: column;

  &__social-media{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;

    &--github {
      transition: all 0.2s;

      &:hover{
        fill: #6e5494;
      }
    }

    &--instagram{
      transition: all 0.2s;

      &:hover{
        fill: #517fa4;
      }
    }

    &--linkedin {
      transition: all 0.2s;

      &:hover{
        fill: #0077b5;
      }
    }
  }

  &__copyright {
    width: 100%;
    align-self: center;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    .designer{
      font-size: 1.4rem;
      margin: 0 1rem;
    }

    .line {
      content: "";
      border-bottom: 1px solid black;
      flex: 1;
    }
  }

  
}