.intro {
  grid-area: intro;
  padding: 3rem 1rem;
  border-bottom: 5px solid $color-primary-dark;
  
  display: flex;
  align-items: center;

  @include respond(bp-small) {
    flex-flow: column;
  }

  &__photo {
    flex-basis: 30%;

    @include respond(bp-small) {
      flex-basis: 0;
    }
  }

  .personal {
    flex-basis: 70%;
    margin-left: 3rem;

    @include respond(bp-small) {
      flex-basis: 0;
      margin-left: 0rem;
      margin-top: 2rem;
    }
  
    &__intro {
      line-height: 2.5;
      font-weight: 500;
      font-size: 1.4rem;

      @include respond(bp-large) {
        line-height: 1.5;
        font-weight: 400;
      }

    }
  }
}
