.navigation {
  background-color: transparent;
  grid-area: nav;
  border-top: 2px solid $color-primary-dark;
  border-bottom: 2px solid $color-primary-dark;
}

.menu {
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;

  //flex
  display: flex;
  justify-content: center;

  &__link:link,
  &__link:visited {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-primary;
    cursor: pointer;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    background-color: $color-primary-light-1;
    color: $color-white;
  }

  &__link:active {
    transform: translateY(2px);
  }
}
